<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="logobanner" src="assets/img/logo.png" width="" height="" alt="" routerLink="home">
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Item 1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">2 Item </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">3 Item</a>
            </li>
        </ul>


    </div>
</nav>